<h1 mat-dialog-title>Add Business Card</h1>
<div mat-dialog-content>
  <h2>Option 1: Upload image to AWS OCR service</h2>
  <!--button mat-raised-button (click)="chooseImage()">Choose Image</button-->
  <div draggable="true" ngClass="{{dragAreaClass}}">
    <div class="row">
      <div *ngIf="!processing" class="col-md-12 text-center">Drag an image file here.</div>
      <div *ngIf="processing" class="col-md-12 text-center">Processing {{filename}}</div>
      <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
    </div>
  </div>
  <h2 class="option2">Option 2: Input business card content manually</h2>
  <textarea matInput name="card_input" type="text" cols="80" rows="10" [(ngModel)]="content" placeholder="Insert card information here..."></textarea>
  <mat-dialog-actions align="end">
    <button mat-raised-button class="b1" [mat-dialog-close]="">Cancel</button>
    <button mat-raised-button class="b1" [disabled]="!content || processing" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</div>
