.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content {
  overflow: unset;
}

.dragarea {
  text-align: center;
  font-size: 1.5rem;
  border: 3px solid #bbb;
  padding: 1.5rem;
  background-color: #fff;
  color: #bbb;
}

.droparea {
  text-align: center;
  font-size: 1.5rem;
  border: 3px dashed #bbb;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
}

.option2 {
  margin-top: 20px;
}

.b1 {
  margin-left: 5px;
  margin-right: 5px;
}
