.main {
  margin: 1%;
}

.addcard {
  margin-top: 20px;
}

.mat-raised-button {
  margin: 2px;
}

.mat-table {
  width: 100%;
  margin-top: 20px;
}

.mat-header-cell {
  text-align: left;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
