<div class="main">
  <button mat-raised-button class="addcard" (click)="addCard()">Add Business Card...</button>
  <table mat-table [dataSource]="this.cards" [trackBy]="trackContacts" class="mat-elevation-z2 table">
    <ng-container  matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Contact Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container  matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let element">{{ element.company }}</td>
    </ng-container>
    <ng-container  matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container  matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <p>{{ element.address.line1 }}</p>
        <p>{{ element.address.line2 }}</p>
        <p>{{ element.address.city }}, {{ element.address.state }} {{ element.address.zip }}</p>
      </td>
    </ng-container>
    <ng-container  matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let phone of element.phone">
          <p *ngIf="phone.type == 'UNKNOWN'">Unknown: {{phone.countryCode}} {{phone.number}} {{phone.ext}}</p>
          <p *ngIf="phone.type == 'WORK'">Work: {{phone.countryCode}} {{phone.number}} {{phone.ext}}</p>
          <p *ngIf="phone.type == 'CELL'">Cell: {{phone.countryCode}} {{phone.number}} {{phone.ext}}</p>
          <p *ngIf="phone.type == 'HOME'">Home: {{phone.countryCode}} {{phone.number}} {{phone.ext}}</p>
          <p *ngIf="phone.type == 'FAX'">Fax: {{phone.countryCode}} {{phone.number}} {{phone.ext}}</p>
        </div>
      </td>
    </ng-container>
    <ng-container  matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef>Website</th>
      <td mat-cell *matCellDef="let element"><a href="element.website">{{element.website}}</a></td>
    </ng-container>
    <ng-container  matColumnDef="extra">
      <th mat-header-cell *matHeaderCellDef>Extra</th>
      <td mat-cell *matCellDef="let element">{{element.extra}}</td>
    </ng-container>
    <ng-container  matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <ng-container  matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
            mat-raised-button.md-small
            matTooltip="Remove Context"
            (click)="removeCard(element.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
</div>
