<amplify-authenticator [loginMechanisms]="['email']">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <div class="main">
      <div class="header">
        <h1 class="welcome">{{user.attributes.email}}</h1>
        <button class="signout" (click)="signOut()">
          <mat-icon class="material-icons">logout</mat-icon>Sign Out</button>
      </div>
      <app-dashboard></app-dashboard>
    </div>
  </ng-template>
</amplify-authenticator>
