.header {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: cadetblue
}

.welcome {
  margin: 5px;
  font-size: medium;
}

.signout {
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
